

# Shell
alias hosts="sudo vi /etc/hosts"
alias h="history"
alias ls='ls -Gh'
alias l='ls -l'
alias l1='ls -1'
alias lf='ls -AF'
alias ll='ls -lFA'
alias ld='ls -ldA'
alias tree='tree -C -I "node_modules|vendor"'

# SSH
alias sshconfig="vi ~/.ssh/config"
alias sshkey='command cat ~/.ssh/id_rsa.pub | pbcopy'

# ## Git
alias git=hub
alias nah='git reset --hard;git clean -df'
alias g="git"
alias ga="git add ."
alias gaa="git add -A"
alias wip="git add .; git commit -m 'wip'"
alias gs="git status"
alias gdi="git diff"
alias gc="git checkout"
alias gpo="git push origin"
alias pull="git pull"
alias fetch="git fetch"
alias merge="git merge"
alias gm="git merge"
alias glo="git log --oneline --decorate"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gaut='git shortlog -s -n --all --no-merges'

# PHP
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"

# Laravel Artisan
alias art="php artisan"
alias artr="php artisan route:list"
alias artmf='php artisan migrate:fresh --seed'
alias serve='php artisan serve'
alias tinker='php artisan tinker'

#Deploy
alias deploy='dep deploy'

# PHP
alias phpunit="vendor/bin/phpunit"
#alias phpunitw="phpunit-watcher watch"
alias p="phpunit"
alias pf="phpunit --filter "
alias dusk="php artisan dusk"
alias duskf="php artisan dusk --filter"

# JavaScript
#alias jest="./node_modules/.bin/jest"

# Fast open
alias o="open"
alias ql="quick-look"
alias finder='open -a 'Finder''

# PhpStorm
#alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# Redis
alias flush-redis="redis-cli FLUSHALL"

# VSCode
#alias code='open -a "/Applications/Visual Studio Code.app"'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Lock the screen
#alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
#alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Scape webpage
alias scrape="scrapeUrl"

# Switch NPM
#alias npmnpm="npm config set registry https://registry.npmjs.org"
#alias npmspatie="npm config set registry https://npm.spatie.be"

# Restart touch bar
#alias touchbar="killall ControlStrip"

alias hideicons='defaults write com.apple.finder CreateDesktop false; killall Finder'
alias showicons='defaults write com.apple.finder CreateDesktop true; killall Finder'

alias cat='bat -p'

alias ackdd="ack '\W(ray|dd|dump)\W'"
